
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <form action="" method="POST">
            <h1 >Wachtwoord Vergeten</h1>
            <hr />
            {{> flashmessages}}
            <p>
              Vul je nieuwe wachtwoord in </p>
            <label for="inputPassword" class="sr-only">E-mail adres</label>
            {{> passwordField}}
            <button class="btn btn-lg btn-primary btn-block" type="submit">Wachtwoord wijzigen</button>
          </form>
        </div>
      </div>
