
      <div class="row">
        <div class="col-md-8 col-md-offset-2">

          <form  action="/auth/signup" method="POST">
            <h1 >Registeren</h1>
            <hr />
            {{> flashmessages}}
            <label for="inputEmail">E-mail adres</label>
            <input type="email" name="email" id="inputEmail" class="form-control" placeholder="JohnDoe@voorbeeld.com" required autofocus>
            <label for="inputPassword">Wachtwoord</label>
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="minstens 6 karakters" required>
            <label for="inputName">Naam</label>
            <input type="text" name="name" id="inputName" class="form-control" placeholder="Voornaam Achternaam" />
            <label for="inputCompany">Bedrijf (optioneel)</label>
            <input type="text" name="company" id="inputCompany" class="form-control" placeholder="bedrijfsnaam" />
            <label for="inputTelephone">Telefoon</label>
            <input type="tel" name="telephone" id="inputTelephone" class="form-control" placeholder="+32 XXX XXX XXX" />
            <div><input type="checkbox" name="emailCorrect" value="true" required>  Ik bevestig dat mijn e-mailadres correct is.</div>
            <div><input type="checkbox" name="privacy" value="true" required> Ik ga akkoord met de <a href="/terms">algemene voorwaarden</a> en <a href="/privacy">privacyverklarking</a></div>
            <p>Na registratie ontvangt u een email ter confirmatie van uw account</p>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Registreer</button>
          </form>
          {{privacy}}
        </div>
      </div>
