<footer>
  <div class="container text-center">
  <hr />
  <p>
    {{#if user}}<a class="logout-nav" href="/auth/logout">Log out</a>{{else}}<a class="login-nav" href="/auth/login">Log in</a>{{/if}} | <a class="contact-nav" href="/contact">Contact</a> | <a class="terms-nav" href="/terms">Alg. Voorwaarden</a> | <a class="privacy-nav" href="/privacy">Privacy</a> | <a class="about-nav" href="/about">Over Mij</a>
  </p>
  <p>
        Copyright &copy; Technology For People
  </p>
  <p>
    <a href="https://www.contentful.com/" rel="nofollow" target=“_blank”><img src="https://images.contentful.com/fo9twyrwpveg/44baP9Gtm8qE2Umm8CQwQk/c43325463d1cb5db2ef97fca0788ea55/PoweredByContentful_LightBackground.svg" style="max-width:100px;width:100%;" alt="Powered by Contentful" /></a>
  </p>
  </div>
</footer>
