<div class="mainnav">
  <div class="row">
    <div class="col-md-6 col-xs-6 main-hand platform-nav" id="platform-main">
      <a href="/">
      <img  class="img-responsive" src="/img/platform-sticky.png" alt="Naar kennisplatform" />
      <p>
         Kennis-<br />
         platform
      </p>
      </a>
    </div>
    <div class="col-md-6 col-xs-6 main-hand diensten-nav" id="diensten-main">
      <a href="/diensten">
      <img class="img-responsive" src="/img/diensten-main.png" alt="Naar diensten" />
      <p>
        Diensten
      </p>
    </a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-xs-6 main-hand blog-nav" id="blog-main">
      <a href="/blog?page=1">
      <img  class="img-responsive" src="/img/blog-main.png" alt="Naar blog" />
      <p>
        Blog
      </p>
    </a>
    </div>
    <div class="col-md-6 col-xs-6 main-hand tools-nav" id="tools-main">
      <a href="/tools">
      <img class="img-responsive" src="/img/tools-main.png" alt="Naar gratis tools" />
      <p>
        Gratis<br /> Tools
      </p>
    </a>
    </div>
  </div>
</div>
