<div>
  <input type="password" id="inputPassword" name="password" style="height: 35px;" class="form-control" placeholder="wachtwoord" required/>
<button id="eye" onclick="toggle()">&#x1f441;</button>
</div>
<script>  //TOGGLE PASSWORD
  function toggle() {
    var x = document.getElementById("inputPassword");
    if (x.type === "password") {
        x.type = "text";
    } else {
        x.type = "password";
    }
}</script>
