<div class="text-center">
  <form action="/auth/subscription" method="POST">
    <h4>Abbonneer je nu voor slechts €9.99 per maand</h4>
    <p>
      Uw kredietkaard wordt elke maand automatisch belast.
    </p>
    <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_Ai0iuE84gwl1OwGUCrZaQQ1n"
    data-amount="999"
    data-name="Technology4People"
    data-description="Abonnement Kennisplatform"
    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
    data-locale="nl"
    data-zip-code="true"
    data-billing-address="true"
    data-currency="eur"
    data-email={{user.email}}>
  </script>
</form>
</div>
