<div class="text-center">
  <form action="/auth/subscription" method="POST">
    <h4>Abbonneer je nu voor slechts €9.99 per maand</h4>
    <p>
      Uw kredietkaart wordt elke maand automatisch belast.
    </p>
    <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_NPnxAy3RQSO93ZvBE3GJZpO1"
    data-amount="1000"
    data-name="Technology4People"
    data-description="Abonnement Kennisplatform"
    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
    data-locale="nl"
    data-zip-code="true"
    data-billing-address="true"
    data-currency="eur"
    data-panel-label="Abonneer"
    data-email={{user.email}}>
  </script>
  <button type="sumbit" class="btn btn-primary">Abonneer Nu</button>

  <script>
    document.getElementsByClassName('stripe-button-el')[0].style.display='none';
  </script>
</form>
</div>
