<div class="stickynav" data-spy="affix">
  <div class="hands-connector">
        <img  src='/img/connector-sticky.png' alt='sticky navigatie' />
  </div>


<div class="hands-sticky">
  <div class="sticky-hand platform-nav" id="platform-sticky">
    <a href="/">        <img  src="/img/platform-sticky.png" alt="Naar kennisplatform" />
            <p>Kennis-<br />platform</p></a>

  </div>
  <div class="sticky-hand tools-nav" id="tools-sticky">
    <a href="/tools">
        <img  src="/img/tools-sticky.png" alt="Naar gratis tools" />
        <p>
          Gratis<br />
          Tools
        </p>
      </a>
  </div>
  <div class="sticky-hand diensten-nav" id="diensten-sticky">
    <a href="/diensten">
        <img  src="/img/diensten-sticky.png" alt="Naar diensten" />
        <p>
          Diensten
        </p>
    </a>
  </div>
  <div class="sticky-hand blog-nav" id="blog-sticky">
    <a href="/blog?page=1">
        <img  src="/img/blog-sticky.png" alt="Naar blog" />
      <p>
        Blog
      </p>
    </a>
  </div>
  </div>
</div>
