
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h1>{{entry.fields.titel}}</h1>
        <hr />
        <div class="content-section">
          {{{entry.fields.body}}}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
      <form id="dienstenForm" action="/diensten" method="post">
        <h1>Offerte Aanvragen</h1>
                  {{> flashmessages}}
        <label for="inputName">Naam</label>
        <input type="text" name="name" id="inputName" class="form-control" required />
        <label for="inputCompany">Bedrijf</label>
        <input type="text" name="company" id="inputCompany" class="form-control" required />
        <label for="inputCompanyNumber">Ondernemingsnummer</label>
        <input type="text" name="VATnumber" id="inputCompanyNumber" class="form-control" required />
        <div class="zipCity">
          <div class="zip">
            <label for="inputZIP">Postcode</label>
            <input type="number" name="zipcode" id="inputZIP" class="form-control" required />
          </div>
          <div class="city">
            <label for="inputCity">Gemeente</label>
            <input type="text" name="city" id="inputCity" class="form-control" required />
          </div>
        </div>
        <label for="inputEmail">E-mail adres</label>
        <input type="email" name="email" id="inputEmail" class="form-control" required />
        <label for="inputServicetype">Soort Diensten</label><br />
        <select id="inputServicetype" name="servicetype">
          <option value="Opleiding">
            Opleiding
          </option>
          <option value="Placeholder">
            Placeholder
          </option>
          <option value="Andere">
            Andere
          </option>
        </select><br />
        <label for="inputComment">Uw vraag / opmerking</label>
        <textarea name="comment" id="inputComment" class="form-control" required></textarea>
        <span id="remainingC"></span>
        <div class="form-persoonlijk-gesprek">
            Ik wil hierover een persoonlijk gesprek, u kan me contacteren via telnr. :
          <input style="width:150px; margin-left:15px;" type="tel" name="telephone" class="form-control" />
        </div>
        <div class="email-correct">
          <input type="checkbox" name="email-correct" value="correct" />
            Mijn e-mailadres is correct
        </div>


          <button class="btn btn-lg btn-primary btn-block" type="submit">Verzenden</button>
      </form>
      </div>
    </div>
  <script>
    $('#inputComment').keypress(function(){
      if(this.value.length > 2000 ){
        return $("#remainingC").html((this.value.length-2000) + " karakters teveel").addClass('red');
      } $("#remainingC").html((2000 - this.value.length)+ " karakters resterend");
    });
  </script>
