<!DOCTYPE html>
<html lang="nl-BE">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Technology For People</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/main2.css" />
  </head>
  <body>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/tagcloud.js"></script>
    <script src="/js/navigation-active.js"></script>
    <div class="container-fluid">
      <div class="row">
        {{> uppernav}}
      </div>
      <div class="row">
        <div class="col-md-2 col-lg-2 visible-lg">
          {{> stickynav}}
        </div>
        <div class="col-md-8 col-lg-8 col-xs-12">
          {{> mainnav}}
          <section>
              {{{body}}}
          </section>
        </div>
        <div class="col-md-2 col-lg-2 visible-lg">
          {{> tagcloud}}
        </div>
      </div>
      <div class="row">
        {{> footernav}}
    </div>
  </div>
  </body>
</html>
